body{
    color:#878787;
    background-color: #F6F6F6;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
.site-title{
    font-weight: bold;
}
.navbar .nav-link{
    padding: 4px 10px;
    border-radius:8px;
    font-weight: bold;
}
.navbar .nav-link.active,
.navbar .nav-link:hover{
    background-color: #EEEFFF;
    color:#5D5FEF;
}
main{
    min-height:85vh;
}
.thumbnail{
    min-width:250px;
}
.thumbnail img{
    object-fit: cover;
    width:100%;
}
.pointer{
    cursor: pointer;
}
.author img{
    width:50px;
    height:50px;
    border-radius: 50%;
}
.detail_content{
    height:400px;
    overflow: auto;
}
.nav_menu a{    
    text-decoration: none;
    font-weight: 700;
    color:inherit
}
.nav_menu a.active,
.text-purple{
    color:#5D5FEF;
}
.nav_menu a::after {
    content: '';
    display: block;
    width: 21px;
    height: 2px;
    background-color: transparent;
    margin: auto;
}
.nav_menu a.active::after {
    background-color: #5D5FEF;
}
@media (max-width:767px) {
    .thumbnail{
        width:100%;
    }
}
@media (max-width:575px){
    .site-title {
        font-size: calc(1.7vw + 10px);
    }
}