body{
    color:#878787;
    background-color: #F6F6F6;
    font-weight: 500;
}
.navbar .nav-link{
    padding: 4px 10px;
    border-radius:8px;
    font-weight: bold;
}
.navbar .nav-link.active,
.navbar .nav-link:hover{
    background-color: #EEEFFF;
    color:#5D5FEF;
}
main{
    min-height:73vh;
}
.thumbnail{
    max-width:250px;
    width:100%;
}
.thumbnail img{
    object-fit: cover;
    width:100%;
}
.pointer{
    cursor: pointer;
}
@media (max-width:767px) {
    .thumbnail{
        max-width:100%;
    }
}